.filtre{
    padding: 15px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}
.filter-title{
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
}

.find-in-page{
    color: #f9b013;
    display: flex;
}