<div class="bar">

    <div class="titre">
        <mat-icon matPrefix class="icon">trending_up</mat-icon>
            <p class="info">Taux d'efficacite / Robot</p>
        <mat-icon matPrefix class="icon" (click)="test()" class="MAJ">replay</mat-icon>
    </div>

    <div class="diagramme">
        <canvas ngChartjs
        [datasets]="barChartData"
        [labels]="barChartLabels"
        [options]="barChartOptions"
        [legend]="barChartLegend"
        [chartType]="barChartType"
        (chartHover)="chartHovered($event)"></canvas>
    </div>
</div>
