.recherche{
    padding: 4px 7.5px;
    font-size: 15px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: black;
    background-color: #f9b013;
    border: none;
    border-radius: 15px;
    box-shadow: 1.5px 5px #999;
    width: 13%;
    height: 7.5%;
    margin-left: 8.5%;
    font-weight: bold;
    z-index: 2;
}

.recherche:active {
    background-color: orangered;
    box-shadow: 0 2px #666;
    transform: translateY(4px);
}

.statistique{
    display: flex;
    position: relative;
    justify-content: space-between;
    z-index: 3;
    margin-top: 15px;
}

.globalStatistique{
    position: relative;
    border: 1px solid lightgoldenrodyellow;
}

.filter{
    padding: 15px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.filter-title{
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
}

.filter-footer{
    padding: 15px;
    background-color: #f2f6f9;
    text-align: right;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.find-in-page{
    color: #f9b013;
}