.latence{
    width: 400px;
    text-align: center;
    margin: 5px;
    padding: 0;
    font-size: medium;
    align-content: center;
}

.titre{
    border-bottom: 1px black solid;
    margin-bottom: 10px;
    display: flex;
}

.diagramme{
    background-color: #f8edef;
    height: 250px;
    align-items: center;
    display: flex;
    font-size: large;
    font-weight: 400;
}

.icon{
    color: #f9b013;
    border-radius: 60%;
    border-color: black;
    padding: 7px 7px 7px 7px;
    background-color: black;
}

.info{
    margin-left: 10px;
    margin-top: 7px;
}