.container{
    width: 100%;
    overflow: auto;
    margin-top: 25px;
}

th{
    font-size: large;
    font-weight: 400;
    color: #000000;
}

td{
    font-size: small;
    font-weight: 250;
    color: #000000;
}

table {
    width: 100%;
    background-color: white;
}

.ID{
    border-right: 1px solid currentColor;
    padding-right: 24px;
}

.Filter {
    font-size: 14px;
    width: 100%;
    color: #000000;
    background-color: white;
}

.pagine {
    border-top: 1px solid #000000;
    font-size: 15px;
    color: #000000;
    background-color: white;
}


.recherche{
    padding: 4px 7.5px;
    font-size: 15px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: black;
    background-color: orange;
    border: none;
    border-radius: 15px;
    box-shadow: 1.5px 5px #999;
    width: 13%;
    height: 7.5%;
    margin-left: 370px;
    font-weight: bold;
    margin-top: -10px;
}

.recherche:active {
    background-color: orangered;
    box-shadow: 0 2px #666;
    transform: translateY(4px);
}

.filter-footer{
    padding: 15px;
    background-color: #f2f6f9;
    text-align: right;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.get-app{
    color: #f9b013;
    border: 1px solid #f9b013;
    padding: 5px;
    border-radius: 5px;
}

.get-app:active{
    background-color: orangered;
    box-shadow: 0 2px #666;
    transform: translateY(4px);
    color: black;
}

.table{
    border: 1px solid black;
}

.icon{
    color: orange;
    border-radius: 60%;
    border-color: black;
    padding: 7px 7px 7px 7px;
    background-color: black;
}

.titre{
    margin-bottom: -2.5px;
    margin-left: 10px;
    align-content: center;
    margin-right: 75%;
}

.icon-titre{
    padding: 8px;
    font-size: large;
    margin-bottom: 5px;
    display: flex;
    border-bottom: 1px solid black;
    margin-bottom: 12.5px;
}