.container {
    position: relative;
    align-items: center;
    width: 100%;
}

.element1, .element2, .element3 {
    padding: 8px;
    width: 370px;
    font-size: x-large;
}

.element1 {
    margin-bottom: 5px;
    display: flex;
    border-bottom: 1px solid black;
}

.element2 {
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    p{
        margin: 5px;
        font-size: large;
    }
    .total{
        font-size: x-large;
        font-weight: 600;
    }
}

.element3 {
    display: flex;
    justify-content: space-between;
    p{
        border-radius: 50%;
        border-width: 2px;
        border-style: solid;
        align-content: center;
    }.p1{
        border-color: #f9b013;
        padding: 25px;
        width: 25px;    
        height: 25px;
        text-align: center;
        position: relative;
        span{
            position: absolute;
            bottom: 0;
            left: 50%;
            padding: 2px;
            background: #f9b013;
            border-radius: 50%;
            color: white;
            height: 25px;
            width: 25px;
        }
    }.p2{
        border-color: #39c035;
        padding: 40px;
        width: 45px;
        height: 45px;
        text-align: center;
        span{
            position: absolute;
            bottom: 0;
            left: 53.5%;
            bottom: 11.5%;
            padding: 2px;
            background: #39c035;
            border-radius: 50%;
            color: white;
            height: 25px;
            width: 25px;
        }
    }.p3{
        border-color: #cf2924;
        padding: 25px;
        width: 25px;
        height: 25px;
        text-align: center;
        span{
            position: absolute;
            bottom: 0;
            left: 88%;
            bottom: 28.5%;
            padding: 2px;
            background: #cf2924;
            border-radius: 50%;
            color: white;
            height: 25px;
            width: 25px;
        }
    }
}

.element_2-3{
    border: 1px solid lightgoldenrodyellow;
}

.icon{
    color: orange;
    border-radius: 60%;
    border-color: black;
    padding: 7px 7px 7px 7px;
    background-color: black;
}

.type{
    margin-bottom: -2.5px;
    margin-left: 10px;
    align-content: center;
}