<mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button>
    <span>SMX Dashboard</span>

    <form class="search-parent">
        <mat-form-field class="search-child">
            <mat-icon class="search" matPrefix>search</mat-icon>
            <input matInput type="text" [(ngModel)]="value" placeholder="Search..." [ngModelOptions]="{standalone: true}">
        </mat-form-field>
    </form>


    <span class="spacer"></span>
    <button mat-icon-button class="email" aria-label="email"
    matBadge= 4 matBadgePosition="above after" matBadgeSize="medium" matBadgeColor="accent">
        <mat-icon>email</mat-icon>
    </button>
    <button mat-icon-button class="notifications" aria-label="notifications"
    matBadge= 17 matBadgePosition="above after" matBadgeSize="medium" matBadgeColor="accent">
        <mat-icon>notifications</mat-icon>
    </button>
    <button mat-icon-button class="account_circle" aria-label="account_circle">
        <mat-icon>account_circle</mat-icon>
    </button>
</mat-toolbar>
